<header>
    <div class="container">
        <div class="header-content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    <img src="img/logo/logo.png" alt="logo">
                </a>
                <button class="navbar-toggler c-hamburger c-hamburger--htx" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Menu item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Menu item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Menu item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Menu item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Menu item</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <hgroup class="header-info">
                <h1>Hello</h1>
                <p>We are online clinic</p>
            </hgroup>
        </div>
    </div>

</header>
